<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p class="about_splurty">
    Splurty is an online quote generator that allows users to contribute their favorite quotes.
  </p>


  <div class="col-xs-12 col-sm-4 no_padding">
    <%= image_tag 'aaron.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="profile_name">Aaron K</h2>
    
    <p>
      Aaron doesn't enjoy writing bios about himself, although he is a fan of <a target="_blank" href="http://baconipsum.com/">bacon-ipsum</a>.
    </p>
    <p>
      Bacon ipsum dolor amet sirloin boudin turducken cow ham hock hamburger spare ribs jerky fatback pork belly ground round meatloaf. Ham pancetta leberkas landjaeger, pork bresaola pork loin beef. Beef ribs rump kielbasa bresaola, strip steak spare ribs fatback pastrami brisket. Strip steak biltong meatball ribeye cow filet mignon.
    </p>

    <p>
      Kielbasa kevin shoulder, hamburger sausage bresaola tenderloin drumstick shankle brisket tail. Shankle sirloin meatball beef drumstick pork loin pork jerky swine rump turducken. Rump pork chop shoulder beef ribs, tri-tip alcatra boudin beef chicken doner pork. Shoulder shank salami, tenderloin turducken t-bone jowl spare ribs tri-tip drumstick capicola andouille. Sausage prosciutto tongue, ham tail spare ribs shoulder biltong beef ribs. Pastrami ham frankfurter, spare ribs brisket tenderloin sirloin. bacon-ipsumn ham hock shoulder fatback.
    </p>

  </div>
  <br class="clear" />

  


</div>

<br class="clear" />
