@font-face {
  font-family: 'SourceCodePro-Medium';
  src: url('SourceCodePro-Medium.eot?#iefix') format('embedded-opentype'),  url('SourceCodePro-Medium.otf')  format('opentype'),
       url('SourceCodePro-Medium.woff') format('woff'), url('SourceCodePro-Medium.ttf')  format('truetype'), url('SourceCodePro-Medium.svg#SourceCodePro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}