@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,200italic);


.clear {
  clear:both;
}

.circle {
  font-weight:bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #f84342;
  border: 1px solid #F7F7F7;
  width: 80px;
  height: 80px;
  margin: 10px 10px;
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  line-height: 16px;
  cursor: pointer;
  transform:rotate(-11deg);
  -ms-transform:rotate(-11deg); /* IE 9 */
  -webkit-transform:rotate(-11deg); /* Opera, Chrome, and Safari */
  font-family: 'SourceCodePro-Medium', sans-serif;
  opacity: .8;
}

.circle:hover{
  opacity: 1;
}

.slogan {
  /*font-style: italic;*/
  padding-top: 26px;
  font-family: 'SourceCodePro-Medium', sans-serif;
}

.about, .modal{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

.links a {
  color:black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-family: 'SourceCodePro-Medium', sans-serif;
  font-weight: bold;
  margin-right: 8px;
  display: inline-block;
}

.links a:last-child{
  margin-right: 0px;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
  margin-top: 10px;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 span {
  color: #999999;
}

input[type=text]{
  margin-bottom: 20px;
}

.bold{
  font-weight: bold;
}

.next-quote {
  color:#f84342;
  font-size:20px;
}

.footer-blurb{
  font-style: italic;
  font-family: 'SourceCodePro-Medium', sans-serif;
  text-align:right;
  font-size:10px;
}

.logo:hover{
  text-decoration: none;
}

.no_padding{
  padding: 0px !important;
}

.about_splurty{
  margin: 0 0 40px 0;
}

.profile_name{
  margin: 0 0 10px 0;
}

::selection {
  background-color: #f84342;
}


@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}